.col-xs-12.col-md-9.col-md-offset-3
  .box       
    .big-padding
      %h2 New team
      = render 'form'
      %a.btn.btn-secondary.active{"href"=>"/teams"} <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back 