.col-xs-20.col-sm-10.col-md-8.col-lg-6 
  .box       
    .big-padding
      %h1 Editing championship
      = render 'form'
      = link_to 'Show', @championship
      = link_to 'Back', championships_path
