-if user_signed_in?
  %header.mdl-layout__header.mdl-layout__header--scroll
    .mdl-layout__header-row
      %span.mdl-layout-title=link_to "Deport-Soft",root_path,class:"white-text",style:"text-decoration:none;"
      .mdl-layout-spacer
      %nav.mdl-navigation
        =link_to "Cerrar sesión",destroy_user_session_path,method: :delete,class:"white-text"
  .mdl-layout__drawer
    %span.mdl-layout-title.white-text Deport-Soft
    %nav.mdl-navigation
      %ul
        %li
          =link_to "Eventos",     controller: "/events",        action: "index"
        %li
          =link_to "Campeonatos", controller: "/championships", action: "index"
        %li
          =link_to "Equipos",     controller: "/teams",         action: "index"
        %li
          =link_to "Jugadores",   controller: "/players",       action: "index"
        %li
          =link_to "Partidos",    controller: "/matches",       action: "index"
