.col-xs-12.col-sm-12.col-md-12.col-lg-12 
  .box       
    .big-padding
      %h1 New player
      = render 'form'
      %a.btn.btn-secondary.active{"href"=>"/players"} <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back 
