<div class="col-xs-8">
      <h1> Generate programation of matches</h1>
      <div class="col-xs-4">
       <%= render 'form_generate' %>
       <%= link_to 'Back', matches_path%>  
      </div>
     
</div>
