// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-background {
	background-image:url(#{asset_path('background2.jpg')});
	background-size:cover;
	background-repeat:none;
}
.main-background-interna {
	background-image:url(#{asset_path('background.jpg')});
	background-size:cover;
	background-repeat:none;
}
.main-background-jugadores {
	background-image:url(#{asset_path('bck-juagdor.jpg')});
	background-size:cover;
	background-repeat:none;
}
.border-grey {
	border:solid #2C3E50;
	border-radius:11px;
}
.center-element {
	display:blocK;
	margin-left:auto;
	margin-right:auto;
}
.text-center {
	text-align:center;
}


.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}